$font-family-lato: lato;

$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 24px;
$font-size-xlg: 28px;

$font-weight-base: 700;
$font-weight-para: 400;
$font-weight-: 500;

$h1: 48px;
$h2: 40px;
$h3: 28px;
$h4: 22px;
$h5: 18px;

$full-width: 100%;
